/* container */
.container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "hd"
    "main"
    "ft";
}

header {
    margin-top: 1em;
    grid-area: hd;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.headline {
    grid-area: 1 / 1 / 1 / 1;
}

.headline h1 {
    margin-top: 0;
}

.navigation {
    grid-area: 1 / 2 / 2 / 3;
}

.nav-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-burger {
    display: inline-block;
    margin-top: 15px;
}

.nav-burger > a {
    text-decoration: none;
}

.nav-burger-icon {
    height: 25px;
}

.nav-item {
    display: none;
}

.nav-item > a {
    text-decoration: none;
    color: inherit;
}

.main {
    grid-area: main;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    grid-area: ft;
}

.box {
    padding: 10px;
    border-radius: 10px;
}

.box__highlight {
    padding-top: 10px;
}

.card {
    min-height: 100px;
}

.card > a {
    text-decoration: none;
    color: inherit;
}

.list-item {
    list-style-type: none;
}

.list-item > a {
    text-decoration: none;
    color: inherit;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    align-content: center;
    padding-inline-start: 0;
}

.link-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding-inline-start: 0;
}

.footer > .footer-content > .link-list > .card {
    min-height: 0;
}

.subscribe {
    grid-area: ft;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5em;
    padding-bottom: 15px;
    line-height: 25px;
}

.subscribe-form {
    display: flex;
    gap: 0.5em;
}

.copyright-text {
    padding-top: 15px;
    margin-bottom: 0;
}

.input-email {
    width: 250px;
}

.btn-cta {
    display: block;
    width: 115px;
    padding: 10px;
    text-align: center;
    border-width: 0;
    border-radius: 5px;
    font-weight: bold;
    line-height: 20px;
}

.mt-auto {
    margin-top: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media (max-width: 599px) {
    .subscribe {
        flex-direction: column-reverse;
    }
}

/* Media queries */
@media (min-width: 1000px) and (max-width: 1799px){
    body {
        font-size: 1.15rem;
    }

    .container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "hd   hd   hd   hd"
        "main main main main"
        "ft   ft   ft   ft";
    }

    .main {
        padding: 15px;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .nav-burger {
        display: none;
    }

    .nav-item {
        display: inline-block;
    }

    .btn-cta {
        font-size: 1em;
    }

}

@media (min-width: 1800px) {
    body {
        font-size: 1.25rem;
    }
    .container {
        width: 1600px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "hd   hd   hd   hd"
        "main main main main"
        "ft   ft   ft   ft";
    }

    .main {
        padding: 15px;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .nav-burger {
        display: none;
    }

    .nav-item {
        display: inline-block;
    }

    .btn-cta {
        font-size: 0.9em;
    }

}

