@import url(/css/base.css);
@import url(/css/font.css);
@import url(/css/colors.css);

.blog-post {
    width: 90%;
    margin: auto;
}

.blog-post-container {
    display: flex;
    flex-direction: column;
}

.blog-post-image > img {
    height: auto;
    width: 100%!important;
    object-fit: contain;
}

.author-desc {
    display: flex;
    gap: 2em;
    margin: 15px 0;
}

.author-desc-photo > img {
    height: 150px;
}

.social-link-icon {
    width: 29px;
}