:root {
    --color-background-primary: #fff;
    --color-background-highlight: #ddd;
    --color-primary: #652017;
    --color-primary-border: #ddd;
    --color-button-primary: #a9392a;
    --color-button-secondary: #ddd;
}

body {
    background-color: var(--color-background-primary);
    color: var(--color-primary);
}

header {
    border: 1px solid var(--color-primary-border);
    border-right: 3px solid var(--color-primary-border);
    border-bottom: 3px solid var(--color-primary-border);
}

footer {
    border: 1px solid var(--color-primary-border);
    border-top: 3px solid var(--color-primary-border);
    border-right: 3px solid var(--color-primary-border);
}

.box {
    background-color: #fff;
}

.box__highlight {
    background-color: var(--color-background-highlight);
}

.card {
    border: 1px solid var(--color-primary-border);
    border-right: 2px solid var(--color-primary-border);
    border-bottom: 3px solid var(--color-primary-border);
}

.subscribe {
    border-bottom: 1px solid var(--color-primary-border);
}

.btn-cta {
    background: var(--color-button-primary);
    color: white;
}

.btn-secondary {
    background: var(--color-button-secondary);
    color: var(--color-primary);
}

.copyright-text {
    border-top: 1px solid var(--color-primary-border);
}