body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.blog-post-subtitle {
    font-style: italic;
}

.author-desc-text {
    font-size: 0.9em;
}

.xlarge {
    font-size: 1.4rem;
}

figcaption {
    font-style: italic;
    font-size: 0.9rem;
}