header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #22b2da;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

