$primary-color: #545454;
$border-color: $primary-color;

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #eeeeee;
    //font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: $primary-color;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 900px;
    margin: 60px auto;
}

section {
    margin-top: 20px;
    margin-bottom: 40px;
}

h2, h3 {
    margin: 20px 0;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.2em;
}

.panel {
    border: 2px solid $border-color;
    border-radius: 5px;
    box-shadow: 2px 4px 5px #444;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-holder {
    display: none;
}

#title{

}

#image {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#destination{

}

#date{

}

#forecast{

}

.headline {

}

label{
    display: block;
    font-size: 2em;
}

input{
    display:block;
    height: 60px;
    width: 100%;
    background:#fffff8;
    color: #f0d43a;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin-bottom: 20px;
}

button{
    width: 150px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 1.8rem;
}

.text-large {
    font-size: inherit;
}

.text-small {
    font-size: smaller;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
button:focus {
    outline: none;
}

button:hover {
    box-shadow: -2px -4px 5px #ffffff;
}

input:focus,
input:hover {
    border: 1px solid $primary-color;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

}
@media (min-width: 1025px) {
    label,
    input,
    button {
        font-size: inherit;
    }
    input {
        width: 320px;
    }
    .input-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}