$primary-color: #545454;
$border-color: $primary-color;

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: $primary-color;
}

main{
    //display: grid;
    width: 900px;
    margin: 60px auto;
    //grid-auto-rows: minmax(100px, auto);
    /* grid-template-columns:  */
    //height:90vh;
    //background: #eeeeee;
    //justify-content: center;
    //grid-gap: 1em;
}
section {
    margin-bottom: 40px;
}

h2, h3 {
    margin-bottom: 20px;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}

.panel {
    border: 2px solid $border-color;
    border-radius: 5px;
    box-shadow: 2px 4px 5px #444;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#result-holder {
    display: none;
}

#title{

}

#image {

}
#destination{

}

#date{

}

#weather{

}

.headline {

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.5rem;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#fffff8;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: auto;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 