<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <title>Capston - Travel Weather Forecast App</title>
    </head>
    <body>
        <header>
            <div class ="headline">
                Capston - Travel Weather Forecast App
            </div>
        </header>
        <main id = "app">
            <section class="panel">
                <div class="input-group">
                    <div class ="city">
                        <label for="city">Enter your destination name here</label>
                        <input type="text" id="city" placeholder="enter your destination here">
                    </div>
                    <div class="date">
                        <label for="start">Your journey starts at</label>
                        <input type="date" id="start" name="trip-start">
                    </div>
                    <div class="submit">
                        <button id="generate" type="submit"> Generate </button>
                    </div>
                </div>
            </section>
            <section id="result-holder" class="panel">
                <h2 id="title">Here comes the weather for <span id="destination"></span></h2>
                <div class ="entry">
                    <div id="image"></div>
                    <div id="date"></div>
                    <div id="weather"></div>
                </div>
                <div id="messageHolder"></div>
            </section>
        </main>
        <footer>
            <p>(c) Matthias Hundeloh 2023</p>
        </footer>
    </body>
</html>