<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Weather Journal</title>
    </head>
    <body>
        <div id = "app">
            <div class ="holder headline">
                Weather Journal App
            </div>
            <div class ="holder zip">
                <label for="city">Enter a city name here</label>
                <input type="text" id="city" placeholder="enter your destination here">
            </div>
            <div class="holder date">
                <label for="start">Start date</label>
                <input type="date" id="start" name="trip-start">
                <button id="generate" type = "submit"> Generate </button>
            </div>
            <div class ="holder entry">
                <div class = "title">Most Recent Entry</div>
                <div id="entryHolder">
                    <div id="image"></div>
                    <div id="destination"></div>
                    <div id="date"></div>
                    <div id="weather"></div>
                </div>
            </div>
        </div>
    </body>
</html>