<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluation NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>Sentiment Analysis with meaning cloud</h1>
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <label for="input_text">Enter your text for analysis (preferred)</label>
                    <textarea id="input_text" name="input" placeholder="Your text" rows="10"></textarea>
                    <label for="input_url">Enter a valid URL for analysis</label>
                    <input id="input_url" type="url" name="url" placeholder="URL to analyze">
                    <input type="button" name="" value="analyze" onclick="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <h2>Results</h2>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>(c) Matthias Hundeloh 2023</p>
        </footer>

    </body>
</html>
